<schedule-header></schedule-header>
<main class="container surface-50 border-bottom-left border-bottom-right mb-5">
  <p-divider type="solid"> </p-divider>
  <section class="pt-3">
    <form (ngSubmit)="onSave()">
      <div class="relative">
        <h1 class="text-center text-4xl mt-0">Seleccione los servicios</h1>
        <div
          class="absolute top-0 left-0 w-full h-full surface-50 z-10"
          *ngIf="loading"
        >
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 45 45"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#fff"
          >
            <g
              fill="none"
              fill-rule="evenodd"
              transform="translate(1 1)"
              stroke-width="2"
            >
              <circle cx="22" cy="22" r="6" stroke-opacity="0">
                <animate
                  attributeName="r"
                  begin="1.5s"
                  dur="3s"
                  values="6;22"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="stroke-opacity"
                  begin="1.5s"
                  dur="3s"
                  values="1;0"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="stroke-width"
                  begin="1.5s"
                  dur="3s"
                  values="2;0"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
              </circle>
              <circle cx="22" cy="22" r="6" stroke-opacity="0">
                <animate
                  attributeName="r"
                  begin="3s"
                  dur="3s"
                  values="6;22"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="stroke-opacity"
                  begin="3s"
                  dur="3s"
                  values="1;0"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="stroke-width"
                  begin="3s"
                  dur="3s"
                  values="2;0"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
              </circle>
              <circle cx="22" cy="22" r="8">
                <animate
                  attributeName="r"
                  begin="0s"
                  dur="1.5s"
                  values="6;1;2;3;4;5;6"
                  calcMode="linear"
                  repeatCount="indefinite"
                />
              </circle>
            </g>
          </svg>

          <span class="absolute left-0 w-full text-center pt-4"
            >Guardando información...</span
          >
        </div>
        <div class="card flex flex-wrap gap-4 justify-content-around px-4">
          <div
            class="checks_list p-3 flex flex-column gap-2 align-self-start border"
          >
            <div *ngFor="let service of listAllServices" class="field-checkbox">
              <p-checkbox
                [label]="service.nameService"
                name="group"
                [value]="service"
                [(ngModel)]="servicesSelected"
                (ngModelChange)="onSelectedValuesChange($event)"
              ></p-checkbox>
            </div>
          </div>

          <div class="flex-1">
            <ng-container
              *ngIf="
                this.formInfoServices.get('servicesSelected')?.value.length > 0
              "
            >
              <p-table
                [value]="this.formInfoServices.get('servicesSelected')?.value"
                [tableStyle]="{ 'min-width': '10rem' }"
                styleClass="p-datatable-striped border"
              >
                <ng-template pTemplate="caption">
                  <span class="text-center w-full inline-block"
                    >Detalles de los servicios seleccionados</span
                  >
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Servicio</th>
                    <th>Precio</th>
                    <th>Tiempo estimado</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-service>
                  <tr>
                    <td>
                      {{ service.nameService }}
                    </td>
                    <td>{{ service.price | currency : "USD" }}</td>
                    <td>{{ calculateTimeInHoursAndMinutes(service.time) }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td class="text-right">Total</td>
                    <td>{{ this.totalPrice | currency : "USD" }}</td>
                    <td>
                      {{ calculateTimeInHoursAndMinutes(this.totalTime) }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="flex align-items-center justify-content-end gap-5 mx-5 py-5">
        <p-button
          label="Siguiente"
          type="submit"
          [loading]="loading"
        ></p-button>
      </div>
    </form>
  </section>
</main>
